:root {
  --vp-c-brand-1: #00abff;
  --vp-c-brand-2: #0099e6;
  --vp-c-brand-3: #0088cc;
  --vp-c-brand-soft: rgba(0, 171, 255, 0.14);
}

.dark {
  --vp-c-brand-1: #00abff;
  --vp-c-brand-2: #33bcff;
  --vp-c-brand-3: #66cdff;
  --vp-c-brand-soft: rgba(0, 171, 255, 0.16);
}
